{% extends "base.html" %}
 {% block head %}
    {{ super() }}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

 {% endblock %}

{% block content %}
      {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

  {% block page_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
	<h1>{{article.title}}</h1>
	<h5>{{article.user.name}}, <small>{{ moment(article.date_time).format('LL') }}</small></h5>
	{{ article.body|safe }}

  <ul class="pager">
      {% if previous_article is not none %}
    <li class="previous"><a href="{{ url_for('main.book_chapter', content_container_short = previous_article.content_container.short_title, short_title=previous_article.short_title) }}">Poprzedni</a></li>
      {% endif %}
      {% if next_article is not none %}
    <li class="next"><a href="{{ url_for('main.book_chapter', content_container_short = next_article.content_container.short_title, short_title=next_article.short_title) }}">Następny</a></li>
      {% endif %}
  </ul>
      </div>
      
      <div class="col-md-4">
	<div class="well">
	<h4>{{article.title}}</h4>
	<ol>
	  {% for chapter in contents %}
	  <li> <a href="{{ url_for('main.book_chapter',
	  content_container_short=content_container_short, short_title=chapter[1]) }}">{{chapter[0]|safe }}</a> </li>
	  {% endfor %}
	</ol>
	</div>
    </div>
  </div>


{% endblock %}
{% endblock %}

