{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript" async
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% block page_content %}
<!-- tu ida kolejne artykuly oraz pasek boczny -->
<div class = "container">
  <div class = "row">
    <div class="col-md-8">
      <h1> {{ title }} </h1>
       <div class="container">
        <div class="row"> <!-- the first two articles-->
	  <div class="col-md-4"> <!-- start a column in the new row -->
	    <h3><a href="{{ url_for('main.book_chapter',
			 content_container_short=articles[0]['content_container'].short_title,
			 short_title=articles[0]['short_title']) }}">{{ articles[0]['title'] }}</a></h3>
	    {{ articles[0]['short_body']|safe }}
	    <p align="right"><a href="{{ url_for('main.book_chapter',
				      content_container_short=articles[0]['content_container'].short_title,
				      short_title=articles[0]['short_title'])
				      }}"> Czytaj
		dalej <span class="glyphicon
				   glyphicon-arrow-right"></span></a></p>

	  </div>
	  <div class="col-md-4"> <!-- start a column in the new row -->
	    <h3><a href="{{ url_for('main.book_chapter',
			 content_container_short=articles[1]['content_container'].short_title,
			 short_title=articles[1]['short_title']) }}">{{ articles[1]['title'] }}</a></h3>
	    {{ articles[1]['short_body']|safe }}
	    <p align="right"><a href="{{ url_for('main.book_chapter',
				      content_container_short=articles[1]['content_container'].short_title,
				      short_title=articles[1]['short_title'])
				      }}"> Czytaj
		dalej <span class="glyphicon
				   glyphicon-arrow-right"></span></a></p>

	  </div>
	</div>
      </div>
      {% set vars={'row_open': false} %}
      {% for article in articles[2:] %}
      {% if not article['new_row'] %}
      <div class="container"> <!-- start a new container for a new row -->
	<div class="row"> <!-- start a new row -->
	  <div class="col-md-4"> <!-- start a column in the new row -->
	    <h3><a href="{{ url_for('main.book_chapter',
			 content_container_short=article['content_container'].short_title,
			 short_title=article['short_title']) }}">{{ article['title'] }}</a></h3>
	    {{ article['short_body']|safe }}
	    <p align="right"><a href="{{ url_for('main.book_chapter',
				      content_container_short=article['content_container'].short_title,
				      short_title=article['short_title'])
				      }}"> Czytaj
		dalej <span class="glyphicon
				   glyphicon-arrow-right"></span></a></p>
	    {% if vars.update({'row_open':true}) %} {% endif %} <!-- ugly
								     as hell! -->

	  </div> <!-- close the column - now see after if vars.row_open -->
	  {% else %}
	  <div class="col-md-4"> <!-- start a column in the existing row -->
	    <h3><a href="{{ url_for('main.book_chapter',
			 content_container_short=article['content_container'].short_title,
			 short_title=article['short_title']) }}">{{ article['title'] }}</a></h3>
	    {{ article['short_body']|safe }}
	    <p align="right"><a href="{{ url_for('main.book_chapter',
				      content_container_short=article['content_container'].short_title,
				      short_title=article['short_title'])
				      }}"> Czytaj
		dalej <span class="glyphicon
				   glyphicon-arrow-right"></span></a></p>
	    {% if vars.update({'row_open':false}) %} {% endif %}

	  </div> <!-- close the column -->
	</div> <!-- close the original row -->
      </div> <!-- and container -->

      {% endif %}

      {% endfor %}
      {% if vars.row_open  %}
	</div> <!-- close the original row -->
      </div> <!-- and container -->
    {% else %}

    {% endif %} <!-- closing a row, if the number of entries is odd -->
    <!--  -- and the row would not be closed -->
  </div>
  <div class="col-md-4" background-color="#AAAAAA">
    <div class="well">
      <ol>
	{% for title in titles%}
	<li><a href=#>{{ title[0] }}</li>
	{% endfor %}
      </ol>
    </div>
  </div>

  {% endblock %}
  {% endblock %}
{